
$header-height: 68;
$max-width: 1100px;

$nav-width: 100px;
$info-width: 322px;

body {
    font-family: 'Microsoft YaHei';
}

.app {
    position: absolute;
    width: 100%;
}

a {
    transition: all 0.15s ease-in-out;
}

a,
a:hover,
a:focus,
a:active
{
    text-decoration: none;
}

input,
select,
button {
    box-shadow: none !important;
}

.btn-crate-white {
    font-size: 0.875rem;
    border: 2px solid white;
    background-color: transparent;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}

.btn-create-blue {
    font-size: 0.875rem;
    background-color: #2bc0ac;
    border: 2px solid #2bc0ac;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}

.btn-deep-blue {
    color: #eee;
    font-size: 0.875rem;
    background-color: #017EC6;
}

.tag {
    font-size: 0.625rem;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 0.15rem 1rem;
    margin: 0 0.2rem;
    &:first-child {
        margin-left: 0;
    }
    &.tag-dark {
        border-color: #333;
        color: #333;
    }
    &.tag-light-blue {
        border-color: #2bc0ac;
        color: #2bc0ac;
    }
    &.tag-pick {
        border-color: #cc91a9;
        color: #cc91a9;
    }
}

.bg-white {
    background-color: #fff;
}


/* user custom style */

.guide {
    background-image: url('/themes/simpleboot3/books/assets/img/bg.jpg');
    background-size: cover;
    & .cover {
        background-color: rgba(0, 0, 0, 0.5);
    }
    & .container {
        height: $header-height + px;
        min-height: $header-height + px;
        & img {
            height: $header-height - 40 + px;
        }
    }
    & .cover-top {
        margin-top: 3rem;
        font-size: 1.85rem;
        font-weight: normal;
        letter-spacing: 3px;
    }
    & .cover-bottom {
        padding: 0.5rem 2rem;
        margin-top: 5rem;
        margin-bottom: 20%;
    }
}

.topbar {
    height: $header-height + px;
    min-height: $header-height + px;
    background-color: #2bc0ac;
    & .container {
        max-width: $max-width;
        & .logo {
            height: $header-height - 40 + px;
        }
        & a {
            color: #fff;
            font-size: 0.875rem;
            letter-spacing: 2px;
            padding: 0.5rem 1rem;
        }
        & .btn {
            font-size: 0.875rem;
            padding: 0.3rem 2rem;
            outline: none;
            box-shadow: none;
            &.creation {
                color: #2bc0ac !important;
            }
            &.btn-login {
                background-color: #2bc0ac;
                border: 2px solid #fff;
            }
        }
    }
}

.header {

}

.frame {
    & a {
        color: #333;
    }
    font-size: 0.875rem;
    max-width: $max-width;

    & .navigation {
        min-width: $nav-width;
        & a {
            display: inline-block;
            padding: 0.55rem 1rem;
            text-align: center;
            width: 100%;
            &:hover, &:focus, &:active, &.active {
                color: #fff;
                background-color: #2bc0ac;
            }
        }
    }

    & .content {
        width: $max-width - (15 * 2) - $nav-width - $info-width;
        /*  content - swiper */
        & .swiper {
            height: 200px;
            overflow: hidden;
            & .swiper-cover {
                & .swiper-slide {
                    display: block;
                    width: 555.2px;
                    background-color: #fff;
                }
            }
            & .thumbnail {
                width: 75px;
                color: #fff;
                & .item {
                    width: 75px;
                    text-align: center;
                    padding: 0.567rem;
                    border-bottom: 1px solid #ccc;
                    background-color: #999;
                    position: relative;
                    z-index: 7;
                    &.active {
                        background-color: #2bc0ac;
                        &:before {
                            width: 0;
                            height: 0;
                            display: block;
                            content: '';
                            position: absolute;
                            left: -7px;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            border-width: 7px;
                            border-style: solid;
                            border-color: transparent #2bc0ac transparent transparent;
                        }
                    }
                    &:hover, &:active, &:focus {
                        cursor: pointer;
                    }
                }
            }
        }

        /* content - tab */
        & .tab-root {
            /* tab */
            & .tab {
                letter-spacing: 1px;
                position: relative;
                border-bottom: 2px solid #ccc;
                & a {
                    display: inline-block;
                    font-size: 1.05rem;
                    font-weight: 500;
                    color: #000;
                    padding: 1rem 2.3rem;
                    position: relative;
                    &:first-child {
                        padding-left: 0;
                    }
                }
                & .after {
                    width: auto;
                    height: 2px;
                    position: absolute;
                    bottom: -2px;
                    display: inline-block;
                    background-color: #2bc0ac;
                }
            }
            /* tab container */
            & .tab-container {
                & .tab-items {
                    & .item {
                        padding: 1.5rem 0;
                        border-bottom: 2px solid #eee;
                        overflow: hidden;
                        transition: all 0.15s ease-in-out;
                        & .cover {
                            width: 259px;
                        }
                        & .detail {
                            & .title {
                                color: #000;
                                font-size: 1.1rem;
                                letter-spacing: 1px;
                            }
                            & .tags {
                                margin: 0.25rem 0;
                            }
                            & .info {
                                color: #666;
                                font-size: 0.875rem;
                                height: 42px;
                                margin: 0.25rem 0;
                                padding-right: 1.5rem;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        & .author-datetime {
                            color: #999;
                            font-size: 0.8125rem;
                            & img {
                                width: 22px;
                            }
                        }
                        &:hover, &:focus, &:active, &.active {
                            cursor: pointer;
                            background-color: rgba(43, 192, 172, 0.05);
                        }
                    }
                }
            }
        }

        /*  */
    }

    & .info {
        width: 300px;
        & .search {
            & .form-control {
                color: #333;
                border: none;
                background-color: #efefef;
                padding: 0.5rem 1rem;
            }
            & .btn {
                font-size: 0.875rem;
                border-left: none;
                letter-spacing: 2px;
                padding: 0.5rem 1.5rem;
            }
        }
        & .user-info {
            height: 200px;
            background-color: #eee;
            & .detail {
                border-radius: 3px;
                & .user-head {
                    & img {
                        width: 50px;
                    }
                }
                & .creation {
                    & .title {
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                    & .sub-title {
                        font-size: 0.625rem;
                        color: #999;
                    }
                }
            }
        }
    }
}