

.btn-crate-white {
    border: 2px solid white;
    background-color: transparent;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}

.btn-create-blue {
    background-color: #2bc0ac;
    border: 2px solid #2bc0ac;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}

.btn-deep-blue {
    color: #eee;
    font-size: 0.875rem;
    background-color: #017EC6;
}