

$header-height: 68; // class "header" css height
$max-width: 1100px; // common => body container max width

// layout width
$nav-width: 100px; // layout - nav width
$info-width: 322px; // layout - info width