/* author */

@import "../variables";

.filter-root {
    height: 60px;
    & .container {
        max-width: $max-width;
        font-size: 0.8125rem;
        color: #999;
        & .filter, & .orders {
            //
            & .selects {
                color: #333;
                margin-right: 1rem;
                & .option {
                    padding: 0.25rem 0.75rem;
                    display: none;
                    align-items: center;
                    &:first-child {
                        display: flex;
                    }
                }
            }
        }
    }
}

.container {
    max-width: $max-width;
    & .author-count {
        color: #666;
        font-size: 0.8125rem;
    }
    & .items {
        & > .item {
            padding: 1rem 2rem;
            border-bottom: 1px solid #eee;
            & .head {
                padding: 1rem 1.5rem 1rem 0.5rem;
                & img {
                    width: 70px;
                }
            }
            & .info {
                padding: 1rem 1.5rem 1rem 0;
                & .name {
                    font-size: 1.2rem;
                    color: #000;
                }
                & .type {
                    color: #999;
                    font-size: 0.875rem;
                }
                & .counts {
                    position: relative;
                    & .item {
                        display: flex;
                        align-items: center;
                        padding: 0;
                        border: none;
                        font-size: 0.8125rem;
                        & .number {
                            margin-left: 0.5rem;
                            font-size: 1.2rem;
                            color: #000;
                            font-weight: bold;
                            position: relative;
                            top: -1px;
                        }
                    }
                    & .divider {
                        width: 1px;
                        min-width: 1px;
                        background-color: #ccc;
                        display: flex;
                        align-self: normal;
                        margin: 6px 10px;
                    }
                }
                & .btn-follow {
                    font-size: 0.875rem;
                    letter-spacing: 3px;
                    padding: 0.3rem 1.75rem;
                    background-color: #2bc0ac;
                }
            }
            & .imgs {
                padding: 1rem 0;
                & .item {
                    padding: 0 0.75rem;
                    height: 100%;
                    & img {
                        height: 134px;
                    }
                }
            }
            & .more {
                & img {
                    width: 8px;
                }
            }
        }
    }
}